allow_anonymous false
password_file /etc/mosquitto/passwd

listener 8883
certfile /etc/letsencrypt/live/{{ domain }}/cert.pem
cafile /etc/letsencrypt/live/{{ domain }}/chain.pem
keyfile /etc/letsencrypt/live/{{ domain }}/privkey.pem
